html * {
  font-family: "Roboto", sans-serif !important;
}
body {
  padding: 0.8rem;
  align-content: center;
  text-align: center;
}
h1 {
  font-size: large;
}
hr {
  border-style:solid;
  border-width: 0.5px;
  border-color: rgba(220, 220, 220, 0.742);
}
/*containers*/
.main-container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.content-container {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.walking-row{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin-right: 3rem;
  padding-left: 0.4rem;
}
.user-in-walk{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0.3rem;
  margin-top: auto;
  margin-bottom: auto;
}
.walkers-container{
  width: auto;
  position: absolute;
}
.footer-container{
  position: absolute;
  bottom: 0;
  width: 90%;
  padding-bottom: 15%;
}
.small-container {
  /* padding: auto; */
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
.question-radio{
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.walking-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  align-items: center;
}
.login-header {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

/*texts*/
.texts-gray {
  color: darkgrey;
  font-size: 1.1rem;
}
.texts-orange {
  color: #ee6e57;
  font-size: 1.1rem;
}
.texts-title-upper {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.texts-descriptions {
  font-size: 0.7rem;
}
.texts-small {
  font-size: 0.65rem;
}

/*Grid*/
.row-line {
  padding-top: 0.3rem;
}
.block-five {
  padding-top: 5%;
}
.block-teen {
  padding-top: 10%;
}
.block-quarter {
  padding-top: 25%;
}
.block-half {
  padding-top: 50%;
}

.cell {
  padding: 0.1rem;
  float: left !important;
  margin-left: auto;
  margin-right: auto;
}
.cell-1 {width: 8.33%;}
.cell-2 {width: 16.66%;}
.cell-3 {width: 25%;}
.cell-4 {width: 33.33%;}
.cell-5 {width: 41.66%;}
.cell-6 {width: 50%;}
.cell-7 {width: 58.33%;}
.cell-8 {width: 66.66%;}
.cell-9 {width: 75%;}
.cell-10 {width: 83.33%;}
.cell-11 {width: 91.66%;}
.cell-12 {width: 100%;}

